<div id="footer">
    <footer class="container">
        <section id="resources" class="row">
            <article class="span12">
                <em>Join today and accompany over 1,000 users in collaborative quality assurance!</em>
                <h2>Take control of <span>your</span> product life-cycle</h2>
            </article>
        </section>
    </footer>
</div>
