<div id="footer">
    <footer class="container">
        <section id="resources" class="row">
            <article class="span12">
                <em>Join today and accompany over 1,000 users in collaborative quality assurance!</em>
                <h2>Take control of <span>your</span> product life-cycle</h2>
            </article>
        </section>
        <section class="row">
            <div class="span3">
                <img src="~/public/styles/images/logo-medium-no-text.png" alt="" />
            </div>
            <div class="span6 clearfix">
                <ul class="col1 pull-left">
                    <li><a href="#">test 1</a></li>
                    <li><a href="#">test 2</a></li>
                    <li><a href="#">test 3</a></li>
                </ul>
                <ul class="col2 pull-left">
                    <li><a href="#">test 1</a></li>
                    <li><a href="#">test 2</a></li>
                    <li><a href="#">test 3</a></li>
                </ul>
                <div class="col3 pull-left">
                </div>
            </div>
            <div class="span3">
                <img src="~/public/styles/images/logo-nenvy.png" alt="" />
            </div>
        </section>
    </footer>
</div>
