<div class="container-fluid bg-green bg-shadow">
    <div class="container">
        <div class="row">
            <div class="span12">
                <nav id="global">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
