<ul>
    <li class="first"><a href="#">Full Cycle. </a></li>
    <li><a href="#">Collaborative. </a></li>
    <li class="no-border"><a href="#">Quality Assurance. </a></li>
    <li class="last no-border"><a class="btn btn-primary" href="#">Register</a></li>
    <li class="last no-border"><a class="btn btn-warning" href="#">Sign Up</a></li>
</ul>
